# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
TEST="false"            # Runs the app with mongodb-memory-server
DATABASE_URL="mongodb://localhost:27017/test"